$content_bg: #5f50a1;
$footer_bg: #2a184e;
;

$hero_text: #ffffff;
$hero_text_shadow: #000000;

$content_text: #dddddd;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;600;700;800&display=swap');

html{
    font-family: 'Red Hat Display', sans-serif;
}

#logo{
    border: 2px solid white;
    border-radius: 100%;
    width: 200px;
    margin: 0 auto;
    height: 200px;
    top: -20px;
    position: relative;
    box-shadow: 0 0 3px $hero_text_shadow;
    z-index:1;
    background-image:url('images/arran-outline.png');
    background-size:55%;
    background-position: center;
    background-repeat: no-repeat;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    cursor: default;
    height: 85vh;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: $hero_text;
    background-position: 60% 75%;
    background-size:cover;

    h1 {
        transform: scale(1);
        transition: transform 0.5s ease, opacity 0.75s ease;
        transition-delay: 0.25s;
        letter-spacing:2px;
        display: inline-block;
        font-size: 3em;
        opacity: 1;
        position: relative;
        z-index: 1;
        // text-shadow: 0 0 3px grey;
        line-height:1;
        margin-bottom:0;


    }

    h2 {
        font-size:1.55em;
        letter-spacing:0.5px;
        font-weight:700;
        position:relative;
        z-index:1;
        opacity:1;
        transition: transform 0.5s ease, opacity 0.5s ease;
        transition-delay: 0.25s;

        color:#2a184e;
        margin-top:0;
        text-transform: uppercase;

        a {
            color: inherit;
        }
    }

    &:after {
        pointer-events: none;
        transition: opacity 2s ease-in-out;
        transition-delay: 0.5s;
        content: '';
        background: #B6C0D2;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    &:before {
        content: '';
        background: #000;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.1;
    }

    @media screen and (max-width: 736px) {
        height: 500px;
        max-height:85vh;
        min-height: 0;
    }
}

body {
    background: white;
    margin:0;
    text-align:center;
    &.is-preload {
        *, *:before, *:after {
            animation: none !important;
            transition: none !important;
        }
    }
    &.is-preload {
        #banner {
            h1, h2 {
                transform: scale(0.95);
                opacity: 0;
                &:before, &:after {
                    width: 0;
                }
            }
    
            .more {
                transform: translateY(8.5em);
                opacity: 0;
            }
    
            &:after {
                opacity: 1;
            }
        }
    }
}

main{
    > section {
        background: $content_bg;
        padding: 1em 3em;
        color: $content_text;

        &:last-of-type {
            padding-bottom: 3em;
        }
        
		p, li {
            white-space: pre-line;
            font-size:1.17em;
        }

        ul{
            @media screen and (max-width: 980px) {
                padding-left: 0;
            }

            li{
                padding-bottom:0.5em;
                text-align:left;
            }
        }

        >div{
            max-width:800px;
            margin:0 auto;
        }

        &#duthchas{
            background-color:#aba2d1;
            p{
                font-weight:bold;
                font-style: italic;
            }
        }

        &#register{
            background-color: #2a184e;
        }
    }
}

form input[type="email"]{
    width: 100%;
    max-width: 25em;
    padding: 0.8em 0 0.8em 1em;
    margin:0.5em 0;
}

h3 + p, h3 + ul{
    margin-top:0;
}
h3{
    margin-bottom:0.5em;
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    appearance: none;
    transition: background-color #{_duration(transitions)} ease-in-out, color #{_duration(transitions)} ease-in-out;
    background-color: transparent;
    border-radius: 3px;
    border: 0;
    box-shadow: inset 0 0 0 2px $content_text;
    color: $content_text;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    height: 3.125em;
    line-height: 3.125em;
    max-width: 30em;
    padding: 0 2.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        background-color: $content_text;
        color: $content_bg;
    }

}

#footer {
    background-color: $footer_bg;
    padding: 1em 0;
    text-align: center;
    color:$content_text;

    a{
        color: $content_text;
    }

    p{
        opacity:0.4;
    }

    .icons {
        font-size: 1.25em;

        a {
            color: _palette(fg-light);

            &:hover {
                color: _palette(fg);
            }
        }
    }

    .copyright {
        color: $content_text;
        font-size: 0.8em;
        letter-spacing: _size(letter-spacing-alt);
        list-style: none;
        padding: 0;
        text-transform: uppercase;

        li {
            border-left: solid 1px #dddddd;
            display: inline-block;
            line-height: 1em;
            margin-left: 1em;
            padding-left: 1em;

            &:first-child {
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }

            a {
                color: inherit;

                &:hover {
                    // color: _palette(fg);
                }
            }

            @media screen and (max-width: 480px) {
                border: 0;
                display: block;
                line-height: 1.65em;
                margin: 0;
                padding: 0.5em 0;
            }
        }
    }
}