@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;600;700;800&display=swap");
html {
  font-family: "Red Hat Display", sans-serif;
}

#logo {
  border: 2px solid white;
  border-radius: 100%;
  width: 200px;
  margin: 0 auto;
  height: 200px;
  top: -20px;
  position: relative;
  box-shadow: 0 0 3px #000000;
  z-index: 1;
  background-image: url("images/arran-outline.png");
  background-size: 55%;
  background-position: center;
  background-repeat: no-repeat;
}

#banner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: default;
  height: 85vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: #ffffff;
  background-position: 60% 75%;
  background-size: cover;
  padding: 0 0.6em;
}
#banner h1 {
  transform: scale(1);
  transition: transform 0.5s ease, opacity 0.75s ease;
  transition-delay: 0.25s;
  letter-spacing: 2px;
  display: inline-block;
  font-size: 3em;
  opacity: 1;
  position: relative;
  z-index: 1;
  line-height: 1;
  margin-bottom: 0;
}
#banner h2 {
  font-size: 1.55em;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition-delay: 0.25s;
  color: #2a184e;
  margin-top: 0.25em;
  text-transform: uppercase;
}
#banner h2 a {
  color: inherit;
}
#banner:after {
  pointer-events: none;
  transition: opacity 2s ease-in-out;
  transition-delay: 0.5s;
  content: "";
  background: #B6C0D2;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#banner:before {
  content: "";
  background: #000;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
}
@media screen and (max-width: 736px) {
  #banner {
    height: 500px;
    max-height: 85vh;
    min-height: 0;
  }
}

body {
  background: white;
  margin: 0;
  text-align: center;
}
body.is-preload *, body.is-preload *:before, body.is-preload *:after {
  animation: none !important;
  transition: none !important;
}
body.is-preload #banner h1, body.is-preload #banner h2 {
  transform: scale(0.95);
  opacity: 0;
}
body.is-preload #banner h1:before, body.is-preload #banner h1:after, body.is-preload #banner h2:before, body.is-preload #banner h2:after {
  width: 0;
}
body.is-preload #banner .more {
  transform: translateY(8.5em);
  opacity: 0;
}
body.is-preload #banner:after {
  opacity: 1;
}

main > section {
  background: #5f50a1;
  padding: 1em 3em;
  color: #dddddd;
}
main > section p, main > section li {
  white-space: pre-line;
  font-size: 1.17em;
}
@media screen and (max-width: 980px) {
  main > section ul {
    padding-left: 0;
  }
}
main > section ul li {
  padding-bottom: 0.5em;
  text-align: left;
}
main > section > div {
  max-width: 800px;
  margin: 0 auto;
}
main > section#duthchas {
  background-color: #aba2d1;
}
main > section#duthchas p {
  font-weight: bold;
  font-style: italic;
}
main > section#register {
  background-color: #2a184e;
}

form input[type=email] {
  width: 100%;
  max-width: 25em;
  padding: 0.8em 0 0.8em 1em;
  margin: 0.5em 0;
  box-sizing: border-box;
}

h3 + p, h3 + ul {
  margin-top: 0;
}

h3 {
  margin-bottom: 0.5em;
}

/* Button */
input[type=submit],
input[type=reset],
input[type=button],
button,
.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: background-color _duration(transitions) ease-in-out, color _duration(transitions) ease-in-out;
  background-color: transparent;
  border-radius: 3px;
  border: 0;
  box-shadow: inset 0 0 0 2px #dddddd;
  color: #dddddd;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  height: 3.125em;
  line-height: 3.125em;
  max-width: 30em;
  padding: 0 2.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
button:hover,
.button:hover {
  background-color: #dddddd;
  color: #5f50a1;
}

#footer {
  background-color: #2a184e;
  padding: 1em 0;
  text-align: center;
  color: #dddddd;
}
#footer a {
  color: #dddddd;
}
#footer p {
  opacity: 0.4;
}
#footer .icons {
  font-size: 1.25em;
}
#footer .icons a {
  color: _palette(fg-light);
}
#footer .icons a:hover {
  color: _palette(fg);
}
#footer .copyright {
  color: #dddddd;
  font-size: 0.8em;
  letter-spacing: _size(letter-spacing-alt);
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}
#footer .copyright li {
  border-left: solid 1px #dddddd;
  display: inline-block;
  line-height: 1em;
  margin-left: 1em;
  padding-left: 1em;
}
#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}
#footer .copyright li a {
  color: inherit;
}
@media screen and (max-width: 480px) {
  #footer .copyright li {
    border: 0;
    display: block;
    line-height: 1.65em;
    margin: 0;
    padding: 0.5em 0;
  }
}

form {
  margin-bottom: 1em;
}/*# sourceMappingURL=duthchas.css.map */